.info-box{
    background-color: rgb(63, 204, 223);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

#gameMenu Button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}

#gameMenu h1,h4{
    color: #ffffff;
}

#gameMenu h1{
    font-size: 1.5em;
    padding-top: 25px;
    padding-bottom: 10px;
}

#gameMenu h4{
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 10px;
}