#keyBinding{

    text-align: center;
    align-content: center;

}

#keyBinding div{
    padding: 2px;
}

#keyBinding div .col{
    padding-right: 12px;
    padding-left: 12px;
}

#keyBinding h2{
    font-size: x-large;
}
