.navbar{
  height: 56px;
}

#content{
  background-color: #00616e;
  /*background-image: url("./game/images/skyBackground.jpg");
  background-size: 32px;
  background-repeat: repeat;*/
  min-height: 100vh;
}

#gameContent{
  padding: 0px;
  height: calc(100% - 56px);
}
